@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {

    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.container {
    width: 1840px;
    height: 100%;
    margin: 0 auto;

}

.cabecalho {
    height: 122px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #7B4019 0%, #FF7D29 100%);
}

.cabecalho .container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.cabecalho .logo img {
    width: 300px;
    height: 300PX;
}

.menu-cabecalho ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-cabecalho i {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #fff;

    background-color: #FFBF78;
    padding: 5px;
    border-radius: 50%;

    transition: all 0.3s ease;
}

.menu-cabecalho a{
    text-decoration: none;
}

.menu-cabecalho li:hover i {
    background-color: transparent;
    color: #FFEEA9;
}


.menu {
    height: 55px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FF7D29 0%, #FFBF78 100%);
}

    .menu ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

.menu a {
    text-decoration: none;
    color: #7B4019;
    padding: 18px;
    font-weight: 500;
}

.menu a:hover {
    background-color: #fff;
}



.banner {
    display: flex;
    width: 100%;
    overflow: hidden;
}



.noticias-competencias {
    padding: 120px 0px;
    background-image: linear-gradient(180deg, #7B4019 0%, #000825 100%);
}

    .noticias-competencias .titulo {
        color: #fff;
        font-size: 30px;
        margin-bottom: 10px;
    }

.noticias {
    display: flex;
    gap: 20px;
}

    .noticias .noticia {
        flex: 1 1 25%;
        background-color: rgb(161, 98, 2);
        
        border-radius: 20px;
        overflow: hidden;

    }

    .noticia .imagem {
        width: 100%;
        overflow: hidden;
        position: relative;
    }


        .noticia .imagem img {
            width: 100%;
            transition: all 0.5s ease;
        }

        .noticia .imagem:hover img {
            scale: 1.15;
        } 

        .noticia .data {
            width: 100%;
            background-color: #000000;
            color: #E48F45;
            padding: 8px 0;
            font-style: italic;
            text-align: center;

            position: absolute;
            z-index: 1;

            bottom: 0;
            transition: all 0.5s ease;
        }

        .noticia .imagem:hover .data {
            bottom: -35px;
        }

    
    .noticia .post {
        padding: 20px;
    }

        .noticia .post p {
            font-size: 17px;
            font-weight: 200;
            line-height: 22px;
            color: #E48F45;
        }

    .noticia .botao {
        padding: 20px;
        display: flex;
        justify-content: end;
    }

        .noticia .botao a{
            text-decoration: none;
            font-style: italic;
            background-color: #ebebeb;
            color: #0082c4;
            padding: 4px 15px;
            border-radius: 25px;
        }

         .noticia .botao a:hover {
            background-color: #0082c4;
            color: #ebebeb;
        }

    /* COMPETENCIAS */

    .competencias {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .competencias .competencia {
        flex: 0 1 32%;
    }

    .competencias .competencia  img {
        width: 100%;
    }